aside {
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 5px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li {
  margin-right: 20px;
}

.main-content {
  font-family: Arial, sans-serif;
  padding: 20px;

  /* // text color #fff */
  color:#fff;
  /* // backgorund color #333 */
  background-color:#333;
  /* // centers the text horizontally within its containing element */
  text-align: center;
} 

footer > p {
  font-size: 14px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}